# --- C++ Compilation ---
# Object files
*.o
*.os
*.obj
*.a
*.lib

# SCons cache
.sconsign.dblite

# Clang/CLion Compilation Database
compile_commands.json

# --- Godot 4 ---
# Godot 4 cache folder
.godot/

# Import cache (Godot < 4, but good to keep)
*.import

# --- GDExtension Binaries ---
*.so
*.dll
*.dylib
*.wasm
*.exp
*.pdb
*.ilk

# MacOS Framework bundles
*.framework/

# --- IDEs & Editors ---
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# --- Specific Project Paths ---
demo/bin/

# --- Generated doc data ---
gen/

# --- Benchmark output ---
.benchmarks/
